*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

main{
  height: calc(100vh - 60px);
  overflow: auto;
}

.menu-top{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  position: fixed;
  z-index: 999;
  width: 85%;
  max-width: 100%;
  height: 80px;
  padding: 20px;
  margin-left: 15%;
  background-color: black;
  opacity: 0.5;
}


.menu-top a{
  text-decoration: none;
  padding: 15px;
  border: 2px solid white;
  border-radius: 30px;
  color: white;
  font-size: 20px;
}

main .center{
  display: flex;
  min-width: 100%;
  width: 100%;
  background-color: black;
}


main .menu-left .left-top{
  position: fixed;
  z-index: 999;
  width: 15%;
  height: 100%;
  background-color: black;
}

.menu-left img{
  width: 60%;
  margin: 15px 40px;
}


.menu-left .left-top a{
  text-decoration: none;
  font-size: 20px;
  line-height: 30px;
  margin: 0 20px;
  color: rgb(94 94 94);
}

.menu-left ul{
  list-style: none;
}

.menu-left a:hover{
  color: white;
}

.menu-left h1{
  margin: 20px 20px;
  color: white;
}

.menu-left .left-bottom{
  display: flex;
  flex-direction: column;
  margin-top: 80%;;
  height: 70px;
  padding: 10px;
  color: white;
}

.menu-left .linee{
  border: 1px solid rgb(113 113 113);
  width: 90%;
  margin-left: 5%;
}
.menu-left .user-profile span{
  display: flex;
}

.menu-left .user-profile span a{
  text-decoration: none;
  color: white;
}


main .content{
  width: 85%;
  margin-left: 15%;
  margin-top: 100px;
  background-color: rgb(20 25 34);
  color: white;
}

.menu-bottom{
  position: fixed;
  z-index: 999;
  width: 100%;
  height: 60px;
  background-color: rgb(40 40 40);
}
.content


.content nav ul{
  list-style: none;
  font-size: 40px;
}