*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  font-family: Arial, Helvetica, sans-serif;
}
.main-wrapper{
  height: 100vh;
}

main{
  display: flex;
  height: calc(100% - 90px);
  overflow: auto;
}

aside{
  display: flex;
  flex-direction: column;
  width: 230px;
  height: 100%;
  flex-shrink: 0;
  background-color: black;
}

aside img{
  width: 60%;
  margin: 15px 40px;
}

.logo{
  display: flex;
  align-items: flex-start;
}

aside span{
  padding: 20px;
  font-size: 20px;
  color: white;
}

aside ul{
  list-style: none;
  padding: 20px;
}

aside ul a{
  text-decoration: none;
  font-size: 20px;
  line-height: 30px;
  color: rgb(94 94 94);
}

aside ul a:hover{
  color: white;
  border-left: 2px solid white;
}



.aside-bottom{
  display: flex;
  flex-direction: column;
  padding-top: 50px;
  color: white;
}




.aside-bottom .linee{
  border: 1px solid rgb(113 113 113);
  width: 90%;
  margin-left: 5%;
  margin: 10px;
}


.aside-bottom .user-profile span a{
  text-decoration: none;
  color: white;
}

.content{
  display: flex;
  flex-direction: column;
  width: 100%;
  overflow-y: scroll;
  background-color: black;
 
}

.top-bar{
  background-color: blue;
  height: 90px;
}

.top-bar a{
  text-decoration: none;
  background-color: black;
  color: white;
}



.player{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 90px;
  background-color: rgb(40 40 40);
}


.content nav{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 10px;
}

.content nav ul{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  list-style: none;
  font-size: 15px;
}

.content nav ul li a{
  text-decoration: none;
  padding: 20px;
  color: rgb(127 128 133);
}

.content nav ul li a:hover{
  border-bottom: 2px solid white;
}

.content .card-box{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

}

.content .card{
  display: flex;
  flex-direction: column;
  width: 170px;
  margin: 10px;
  text-align: center;
}

.content .card img:hover{
  opacity: 0.5;
}

.content a{
  text-decoration: none;
}

.content h1{
  color: white;
  margin: 10px;
  padding-top: 10px;
}

.content span{
  color: white;
  margin: 10px;
}

.card-created4you{
  display: flex;
  flex-direction: row;
}

.card-popular{
  display: flex;
  flex-direction: row;
}

.card-popular img{
  border-radius: 50%;
}

.card-popular .card h3,
.card-created4you h3{
  color: white;
  padding: 15px;
}

.container .mini-title{
  color: rgb(118 120 126);
}

.left{
  display: flex;
  flex-direction: row;
  align-items: center;
}
.player .music-img img{
width: 80px;
padding: 20px;
}
.player .left span{
  color: white;
}


.player .music-detail{
  display: flex;
  flex-direction: column;
}


.central{
  display: flex;
  flex-direction: column;
  width: 500px;
}

.central .control-panel{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 500px;
}

.central i{
  font-size: 30px;
  padding: 5px;
  color: white;
}

.central .music-duration{
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 5px;
  
}

.central .music-duration .music-bar{
  height: 5px;
  width: 70%;
  background-color: white;
  margin: 5px auto;
}

.player .right{
  display: flex;
  flex-direction: row;
  align-items: center;
}
.player .right i{
  display: flex;
  flex-direction: row;
  margin: 10px;
  color: white;
}

.right .volume-bar{
  height: 5px;
  width: 100px;
  background-color: white;
  margin-right: 30px;
}

